Repository nccgroup/ScoutSuite, pull requests merged in 2019-03, with the labels that each got.

#202 EC2 migration to the new architecture
  .travis.yml
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/awslambda.py
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/utils.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/awslambda/service.py
  ScoutSuite/providers/aws/resources/ec2/ami.py
  ScoutSuite/providers/aws/resources/ec2/instances.py
  ScoutSuite/providers/aws/resources/ec2/networkinterfaces.py
  ScoutSuite/providers/aws/resources/ec2/securitygroups.py
  ScoutSuite/providers/aws/resources/ec2/service.py
  ScoutSuite/providers/aws/resources/ec2/snapshots.py
  ScoutSuite/providers/aws/resources/ec2/volumes.py
  ScoutSuite/providers/aws/resources/ec2/vpcs.py
  ScoutSuite/providers/aws/resources/regions.py
  ScoutSuite/providers/aws/resources/resources.py
  ScoutSuite/providers/aws/services/awslambda.py
  ScoutSuite/providers/aws/services/ec2.py
  ScoutSuite/providers/base/configs/resources.py
  requirements.txt
  tests/data/aws-resources/dummy_resources.json
  tests/test-aws_resources.py
  tests/test-main.py
Labels: providers-refactoring, refactoring

#214 Refactoring/azure/sqldatabase
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/resources/__init__.py
  ScoutSuite/providers/azure/resources/resources.py
  ScoutSuite/providers/azure/resources/sqldatabase/__init__.py
  ScoutSuite/providers/azure/resources/sqldatabase/database_blob_auditing_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/database_threat_detection_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/databases.py
  ScoutSuite/providers/azure/resources/sqldatabase/replication_links.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_azure_ad_administrators.py
  ScoutSuite/providers/azure/resources/sqldatabase/servers.py
  ScoutSuite/providers/azure/resources/sqldatabase/transparent_data_encryptions.py
  ScoutSuite/providers/base/configs/base.py
  ScoutSuite/providers/utils.py
Labels: component-provider-azure, providers-refactoring, refactoring

#219 Refactoring/aws/cloudtrail
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/cloudtrail.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/cloudtrail/service.py
  ScoutSuite/providers/aws/services/cloudtrail.py
  ScoutSuite/providers/utils.py
Labels: component-provider-aws, providers-refactoring, refactoring

#215 Refactoring - Leverage boto3 for Authentication
  ScoutSuite/__main__.py
  ScoutSuite/core/cli_parser.py
  ScoutSuite/core/console.py
  ScoutSuite/providers/__init__.py
  ScoutSuite/providers/aws/aws.py
  ScoutSuite/providers/aws/credentials.py
  ScoutSuite/providers/aws/profiles.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/base/configs/services.py
  ScoutSuite/providers/base/provider.py
  tests/test-main.py
  tests/test-scoutsuite.py
Labels: component-core, component-provider-aws, refactoring

#223 Updated README following PR #215
  README.md
Labels: component-provider-aws

#228 Fixed the super() call to work with python2
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/aws/configs/services.py
Labels: bug

#224 refactoring/async-support
  README.md
  Scout.py
  ScoutSuite/__main__.py
  ScoutSuite/core/cli_parser.py
  ScoutSuite/core/console.py
  ScoutSuite/providers/__init__.py
  ScoutSuite/providers/aws/aws.py
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/credentials.py
  ScoutSuite/providers/aws/facade/awslambda.py
  ScoutSuite/providers/aws/facade/cloudtrail.py
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/utils.py
  ScoutSuite/providers/aws/profiles.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/awslambda/service.py
  ScoutSuite/providers/aws/resources/cloudtrail/service.py
  ScoutSuite/providers/aws/resources/ec2/ami.py
  ScoutSuite/providers/aws/resources/ec2/instances.py
  ScoutSuite/providers/aws/resources/ec2/networkinterfaces.py
  ScoutSuite/providers/aws/resources/ec2/securitygroups.py
  ScoutSuite/providers/aws/resources/ec2/snapshots.py
  ScoutSuite/providers/aws/resources/ec2/volumes.py
  ScoutSuite/providers/aws/resources/ec2/vpcs.py
  ScoutSuite/providers/aws/resources/regions.py
  ScoutSuite/providers/aws/resources/resources.py
  ScoutSuite/providers/azure/facade/sqldatabase.py
  ScoutSuite/providers/azure/resources/resources.py
  ScoutSuite/providers/azure/resources/sqldatabase/database_blob_auditing_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/database_threat_detection_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/databases.py
  ScoutSuite/providers/azure/resources/sqldatabase/replication_links.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_azure_ad_administrators.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_blob_auditing_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_security_alert_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/servers.py
  ScoutSuite/providers/azure/resources/sqldatabase/transparent_data_encryptions.py
  ScoutSuite/providers/base/configs/services.py
  ScoutSuite/providers/base/provider.py
  ScoutSuite/providers/utils.py
  requirements.txt
  tests/test-main.py
  tests/test-scoutsuite.py
Labels: enhancement, providers-refactoring, refactoring

#227 Refactoring/aws/efs
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/efs.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/resources/efs/service.py
  ScoutSuite/providers/aws/services/efs.py
Labels: component-provider-aws, providers-refactoring, refactoring

#238 Updated the favicon used for reports
  ScoutSuite/output/data/html/report.html
  ScoutSuite/output/data/html/ruleset-generator.html
  ScoutSuite/output/data/inc-scoutsuite/favicon.ico
Labels: component-UI, enhancement

#216 Refactoring/aws/cloudformation
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/cloudformation.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/resources/cloudformation/service.py
  ScoutSuite/providers/aws/resources/cloudtrail/service.py
  ScoutSuite/providers/aws/services/cloudformation.py
Labels: component-provider-aws, providers-refactoring, refactoring

#221 Refactoring/aws/cloudwatch
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/cloudwatch.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/resources/awslambda/service.py
  ScoutSuite/providers/aws/resources/cloudwatch/service.py
  ScoutSuite/providers/aws/services/cloudwatch.py
Labels: component-provider-aws, providers-refactoring, refactoring

#222 Refactoring/aws/directconnect
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/directconnect.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/resources/directconnect/service.py
  ScoutSuite/providers/aws/services/directconnect.py
Labels: component-provider-aws, providers-refactoring, refactoring

#237 Bugfix - CloudFormation deletion policy
  ScoutSuite/providers/aws/services/cloudformation.py
Labels: bug, component-provider-aws

#245 Refactoring/aws/elasticache
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/elasticache.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/resources/ec2/vpcs.py
  ScoutSuite/providers/aws/resources/elasticache/cluster.py
  ScoutSuite/providers/aws/resources/elasticache/parametergroups.py
  ScoutSuite/providers/aws/resources/elasticache/securitygroups.py
  ScoutSuite/providers/aws/resources/elasticache/service.py
  ScoutSuite/providers/aws/resources/elasticache/subnetgroups.py
  ScoutSuite/providers/aws/resources/elasticache/vpcs.py
  ScoutSuite/providers/aws/resources/regions.py
  ScoutSuite/providers/aws/resources/vpcs.py
  ScoutSuite/providers/aws/services/elasticache.py
Labels: bug, component-provider-aws, providers-refactoring, refactoring

#248 Refactoring/aws/emr
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/emr.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/emr/service.py
  ScoutSuite/providers/aws/resources/vpcs.py
  ScoutSuite/providers/aws/services/emr.py
Labels: component-provider-aws, providers-refactoring, refactoring

#235 Refactoring/azure/storageaccounts
  ScoutSuite/output/data/html/partials/azure/services.storageaccounts.storage_accounts.html
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/facade/storageaccounts.py
  ScoutSuite/providers/azure/resources/storageaccounts/blob_containers.py
  ScoutSuite/providers/azure/resources/storageaccounts/storageaccounts.py
  ScoutSuite/providers/azure/rules/findings/storageaccount-account-allowing-clear-text.json
Labels: component-provider-azure, providers-refactoring, refactoring

#239 Refactoring/azure/keyvault
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/facade/keyvault.py
  ScoutSuite/providers/azure/resources/keyvault/key_vaults.py
Labels: component-provider-azure, providers-refactoring, refactoring

#242 Refactoring/azure/network
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/facade/network.py
  ScoutSuite/providers/azure/resources/network/network_security_groups.py
  ScoutSuite/providers/azure/resources/network/network_watchers.py
  ScoutSuite/providers/azure/resources/network/networks.py
Labels: component-provider-azure, providers-refactoring, refactoring

#243 Refactoring/azure/securitycenter
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/facade/securitycenter.py
  ScoutSuite/providers/azure/resources/securitycenter/auto_provisioning_settings.py
  ScoutSuite/providers/azure/resources/securitycenter/pricings.py
  ScoutSuite/providers/azure/resources/securitycenter/security_center.py
  ScoutSuite/providers/azure/resources/securitycenter/security_contacts.py
Labels: component-provider-azure, providers-refactoring, refactoring

#236 Refactoring/azure/monitor
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/facade/monitor.py
  ScoutSuite/providers/azure/resources/monitor/activity_logs.py
Labels: component-provider-azure, providers-refactoring, refactoring

#250 Moved contents of aws.py to utils.py and removed profiles.py
  ScoutSuite/__main__.py
  ScoutSuite/providers/aws/aws.py
  ScoutSuite/providers/aws/configs/base.py
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/aws/profiles.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/services/ec2.py
  ScoutSuite/providers/aws/services/efs.py
  ScoutSuite/providers/aws/services/elbv2.py
  ScoutSuite/providers/aws/services/iam.py
  ScoutSuite/providers/aws/services/rds.py
  ScoutSuite/providers/aws/services/redshift.py
  ScoutSuite/providers/aws/services/route53.py
  ScoutSuite/providers/aws/services/s3.py
  ScoutSuite/providers/aws/services/vpc.py
  ScoutSuite/providers/aws/utils.py
  ScoutSuite/providers/base/configs/base.py
  ScoutSuite/providers/base/configs/services.py
Labels: cleanup, component-provider-aws

#246 ELBv2 findings
  ScoutSuite/output/data/html/partials/aws/services.elbv2.regions.id.vpcs.id.lbs.html
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/services/elbv2.py
Labels: component-findings, component-provider-aws, enhancement

#244 Refactoring/azure/private-services
  ScoutSuite/providers/azure/configs/services.py
Labels: component-provider-azure, providers-refactoring, refactoring

#261 Refactoring/aws/redshift
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/redshift.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/resources/redshift/cluster_parameter_groups.py
  ScoutSuite/providers/aws/resources/redshift/cluster_parameters.py
  ScoutSuite/providers/aws/resources/redshift/cluster_security_groups.py
  ScoutSuite/providers/aws/resources/redshift/clusters.py
  ScoutSuite/providers/aws/resources/redshift/service.py
  ScoutSuite/providers/aws/resources/redshift/vpcs.py
  ScoutSuite/providers/aws/services/redshift.py
Labels: component-provider-aws, providers-refactoring, refactoring

#259 Refactoring/aws/elbv2
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/elbv2.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/elbv2/listeners.py
  ScoutSuite/providers/aws/resources/elbv2/load_balancers.py
  ScoutSuite/providers/aws/resources/elbv2/service.py
  ScoutSuite/providers/aws/resources/elbv2/vpcs.py
  ScoutSuite/providers/aws/services/elbv2.py
Labels: component-provider-aws, providers-refactoring, refactoring

#272 Integrated new config service implementation
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
Labels: component-provider-aws, providers-refactoring, refactoring

#268 Exceptions thrown when refusing to overwrite report
  ScoutSuite/output/js.py
Labels: bug, component-core

#274 Refactoring/aws/dynamodb
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
Labels: component-provider-aws, providers-refactoring, refactoring

#271 Refactoring/aws/rds
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/rds.py
  ScoutSuite/providers/aws/resources/rds/instances.py
  ScoutSuite/providers/aws/resources/rds/parametergroups.py
  ScoutSuite/providers/aws/resources/rds/securitygroups.py
  ScoutSuite/providers/aws/resources/rds/service.py
  ScoutSuite/providers/aws/resources/rds/snapshots.py
  ScoutSuite/providers/aws/resources/rds/subnetgroups.py
  ScoutSuite/providers/aws/resources/rds/vpcs.py
  ScoutSuite/providers/aws/services/rds.py
Labels: component-provider-aws, providers-refactoring, refactoring

#265 Refactoring/aws/sns
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/sns.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/resources/sns/service.py
  ScoutSuite/providers/aws/resources/sns/subscriptions.py
  ScoutSuite/providers/aws/resources/sns/topics.py
  ScoutSuite/providers/aws/services/sns.py
Labels: component-provider-aws, providers-refactoring, refactoring

#269 Refactoring/aws/ses
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/ses.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/resources/ses/identities.py
  ScoutSuite/providers/aws/resources/ses/identity_policies.py
  ScoutSuite/providers/aws/resources/ses/service.py
  ScoutSuite/providers/aws/rules/rulesets/default.json
  ScoutSuite/providers/aws/rules/rulesets/detailed.json
  ScoutSuite/providers/aws/services/ses.py
Labels: component-provider-aws, providers-refactoring, refactoring

#257 Refactoring/aws/elb
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.elb_policies.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcsid.elbs.linked_policy.html
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/elb.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/elb/load_balancers.py
  ScoutSuite/providers/aws/resources/elb/service.py
  ScoutSuite/providers/aws/resources/elb/vpcs.py
  ScoutSuite/providers/aws/services/elb.py
Labels: component-provider-aws, providers-refactoring, refactoring

#262 Refactoring/aws/sqs
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/sqs.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/resources/sqs/service.py
Labels: component-provider-aws, providers-refactoring, refactoring

#273 Refactoring/aws/vpc
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.peering_connections.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.peering_connections.html
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/vpc/flow_logs.py
  ScoutSuite/providers/aws/resources/vpc/network_acls.py
  ScoutSuite/providers/aws/resources/vpc/service.py
  ScoutSuite/providers/aws/resources/vpc/subnets.py
  ScoutSuite/providers/aws/resources/vpc/vpcs.py
  ScoutSuite/providers/aws/services/vpc.py
  requirements.txt
Labels: component-provider-aws, providers-refactoring, refactoring

#280 Refactoring/aws/kms
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/metadata.json
Labels: component-provider-aws, providers-refactoring, refactoring

#279 Enhancement/Resource Summary #133
  ScoutSuite/output/data/html/partials/about_scoutsuite.html
  ScoutSuite/output/data/html/partials/last_run_details.html
  ScoutSuite/output/data/html/partials/metadata.html
  ScoutSuite/output/data/html/partials/resources_details.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: enhancement

#277 Enhancement/UI improvements/fixes
  ScoutSuite/output/data/html/partials/accordion_policy.html
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/output/data/html/partials/aws/services.cloudtrail.regions.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.security_groups.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.vpcs.security_groups.resource_list.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.linked_resources.html
  ScoutSuite/output/data/html/partials/aws/services.elbv2.regions.id.vpcs.id.lbs.html
  ScoutSuite/output/data/html/partials/aws/services.iam.groups.html
  ScoutSuite/output/data/html/partials/aws/services.iam.inline_policies.html
  ScoutSuite/output/data/html/partials/aws/services.iam.managed_policies.html
  ScoutSuite/output/data/html/partials/aws/services.iam.managed_policies_list.html
  ScoutSuite/output/data/html/partials/aws/services.iam.roles.html
  ScoutSuite/output/data/html/partials/aws/services.iam.users.html
  ScoutSuite/output/data/html/partials/aws/services.s3.acls.html
  ScoutSuite/output/data/html/partials/aws/services.s3.bucket_iam_policies.html
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.html
  ScoutSuite/output/data/html/partials/count_badge.html
  ScoutSuite/output/data/html/partials/network_interface.html
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite.css
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: component-UI, enhancement

#267 Refactoring/aws/route53
  ScoutSuite/output/data/html/partials/aws/services.route53.hosted_zones.html
  ScoutSuite/output/data/html/partials/aws/services.route53.regions.id.domains.html
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/route53.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/route53/service.py
  ScoutSuite/providers/aws/rules/findings/route53-domain-no-autorenew.json
  ScoutSuite/providers/aws/rules/findings/route53-domain-no-transferlock.json
  ScoutSuite/providers/aws/rules/findings/route53-domain-transferlock-not-authorized.json
  ScoutSuite/providers/aws/services/route53.py
Labels: component-provider-aws, providers-refactoring, refactoring

#264 Refactoring/aws/iam
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/awslambda.py
  ScoutSuite/providers/aws/facade/cloudformation.py
  ScoutSuite/providers/aws/facade/cloudtrail.py
  ScoutSuite/providers/aws/facade/directconnect.py
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/facade/efs.py
  ScoutSuite/providers/aws/facade/elasticache.py
  ScoutSuite/providers/aws/facade/emr.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/iam.py
  ScoutSuite/providers/aws/facade/utils.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/iam/credentialreports.py
  ScoutSuite/providers/aws/resources/iam/groups.py
  ScoutSuite/providers/aws/resources/iam/passwordpolicy.py
  ScoutSuite/providers/aws/resources/iam/policies.py
  ScoutSuite/providers/aws/resources/iam/roles.py
  ScoutSuite/providers/aws/resources/iam/service.py
  ScoutSuite/providers/aws/resources/iam/users.py
  ScoutSuite/providers/aws/services/iam.py
Labels: component-provider-aws, providers-refactoring, refactoring

#270 Refactoring/aws/s3
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/s3.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/s3/service.py
  ScoutSuite/providers/aws/services/s3.py
Labels: component-provider-aws, providers-refactoring, refactoring

#281 Refactoring CLI Output
  ScoutSuite/__init__.py
  ScoutSuite/__main__.py
  ScoutSuite/core/console.py
  ScoutSuite/core/exceptions.py
  ScoutSuite/core/fs.py
  ScoutSuite/output/html.py
  ScoutSuite/output/js.py
  ScoutSuite/output/utils.py
  ScoutSuite/providers/base/configs/services.py
  ScoutSuite/providers/base/provider.py
  requirements.txt
  tests/test-rules-processingengine.py
  tests/test-rules-ruleset.py
  tests/test-scoutsuite.py
Labels: refactoring

#284 Deleted unused files
  ScoutSuite/providers/aws/configs/base.py
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/aws/configs/vpc.py
Labels: providers-refactoring, refactoring

#286 Make the fetching of azure resources really concurrent
  ScoutSuite/providers/azure/facade/keyvault.py
  ScoutSuite/providers/azure/facade/network.py
  ScoutSuite/providers/azure/facade/securitycenter.py
  ScoutSuite/providers/azure/facade/sqldatabase.py
  ScoutSuite/providers/azure/facade/storageaccounts.py
Labels: component-provider-azure, enhancement

#285 Optimize fetching&parsing of activity logs for azure storage accounts
  ScoutSuite/output/data/html/partials/azure/services.storageaccounts.storage_accounts.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/facade/monitor.py
  ScoutSuite/providers/azure/facade/storageaccounts.py
  ScoutSuite/providers/azure/resources/monitor/activity_logs.py
  ScoutSuite/providers/azure/resources/storageaccounts/blob_containers.py
  ScoutSuite/providers/azure/resources/storageaccounts/storageaccounts.py
  ScoutSuite/providers/azure/rules/findings/storageaccount-access-keys-not-rotated.json
  ScoutSuite/providers/azure/rules/rulesets/default.json
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
Labels: component-provider-azure, enhancement, providers-refactoring

#289 Parallelize async loops and factorize async code
  ScoutSuite/providers/aws/facade/elbv2.py
  ScoutSuite/providers/aws/resources/elbv2/load_balancers.py
  ScoutSuite/providers/aws/resources/redshift/cluster_parameter_groups.py
  ScoutSuite/providers/aws/resources/regions.py
  ScoutSuite/providers/aws/resources/resources.py
  ScoutSuite/providers/aws/resources/ses/identities.py
  ScoutSuite/providers/aws/resources/sns/topics.py
  ScoutSuite/providers/aws/resources/vpcs.py
  ScoutSuite/providers/azure/resources/network/networks.py
  ScoutSuite/providers/azure/resources/resources.py
  ScoutSuite/providers/azure/resources/securitycenter/security_center.py
  ScoutSuite/providers/azure/resources/sqldatabase/databases.py
  ScoutSuite/providers/azure/resources/sqldatabase/servers.py
  ScoutSuite/providers/azure/resources/storageaccounts/storageaccounts.py
  tests/test-aws_resources.py
Labels: component-provider-aws, component-provider-azure, providers-refactoring

#292 Refactoring/thread parameter
  Scout.py
  ScoutSuite/__main__.py
  ScoutSuite/core/cli_parser.py
Labels: providers-refactoring, refactoring

#288 Improve concurrent support for AWS services
  ScoutSuite/providers/aws/facade/basefacade.py
  ScoutSuite/providers/aws/facade/cloudformation.py
  ScoutSuite/providers/aws/facade/cloudtrail.py
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/facade/efs.py
  ScoutSuite/providers/aws/facade/elasticache.py
  ScoutSuite/providers/aws/facade/elb.py
  ScoutSuite/providers/aws/facade/elbv2.py
  ScoutSuite/providers/aws/facade/emr.py
  ScoutSuite/providers/aws/facade/facade.py
  ScoutSuite/providers/aws/facade/iam.py
  ScoutSuite/providers/aws/facade/rds.py
  ScoutSuite/providers/aws/facade/redshift.py
  ScoutSuite/providers/aws/facade/s3.py
  ScoutSuite/providers/aws/facade/ses.py
  ScoutSuite/providers/aws/facade/sns.py
  ScoutSuite/providers/aws/facade/sqs.py
  ScoutSuite/providers/aws/facade/utils.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/cloudtrail/service.py
  ScoutSuite/providers/aws/resources/ec2/instances.py
  ScoutSuite/providers/aws/resources/ec2/service.py
  ScoutSuite/providers/aws/resources/ec2/vpcs.py
  ScoutSuite/providers/aws/resources/elasticache/cluster.py
  ScoutSuite/providers/aws/resources/elasticache/parametergroups.py
  ScoutSuite/providers/aws/resources/elasticache/subnetgroups.py
  ScoutSuite/providers/aws/resources/elasticache/vpcs.py
  ScoutSuite/providers/aws/resources/iam/credentialreports.py
  ScoutSuite/providers/aws/resources/iam/policies.py
  ScoutSuite/providers/aws/resources/iam/service.py
  ScoutSuite/providers/aws/resources/rds/parametergroups.py
  ScoutSuite/providers/aws/resources/rds/service.py
  ScoutSuite/providers/aws/resources/rds/snapshots.py
  ScoutSuite/providers/aws/resources/rds/subnetgroups.py
  ScoutSuite/providers/aws/resources/regions.py
  ScoutSuite/providers/aws/resources/s3/service.py
  ScoutSuite/providers/aws/resources/ses/identity_policies.py
  ScoutSuite/providers/aws/resources/sns/topics.py
  ScoutSuite/providers/utils.py
Labels: component-provider-aws, enhancement, providers-refactoring

#293 Make the resource fetching of all services concurrent
  ScoutSuite/providers/base/configs/services.py
Labels: component-core, enhancement, providers-refactoring
