Repository nccgroup/ScoutSuite, pull requests merged in 2019-02, with the labels that each got.

#140 feature/#30-new-finding-azure-storageaccounts-access-keys-not-rotated
  ScoutSuite/output/data/html/partials/azure/services.storageaccounts.storage_accounts.html
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/rules/findings/storageaccount-access-keys-not-rotated.json
  ScoutSuite/providers/azure/rules/findings/storageaccount-account-allowing-clear-text.json
  ScoutSuite/providers/azure/rules/findings/storageaccount-public-blob-container.json
  ScoutSuite/providers/azure/rules/rulesets/default.json
  ScoutSuite/providers/azure/services/monitor.py
  ScoutSuite/providers/azure/services/storageaccounts.py
  ScoutSuite/providers/azure/utils.py
  requirements.txt
Labels: component-findings, component-provider-azure, enhancement

#147 Feature/145 Azure switches for credentials
  ScoutSuite/__main__.py
  ScoutSuite/cli_parser.py
  ScoutSuite/providers/azure/provider.py
Labels: component-provider-azure, enhancement

#125 Feature/120 GCP Multi-Project Scanning with single service account
  README.md
  ScoutSuite/providers/gcp/provider.py
Labels: component-provider-gcp

#149 feature/#26-new-finding-azure-sql-no-auditing-nor-threat-detection
  ScoutSuite/output/data/html/partials/azure/services.sqldatabase.servers.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/rules/findings/sqldatabase-databases-no-auditing.json
  ScoutSuite/providers/azure/rules/findings/sqldatabase-databases-no-threat-detection.json
  ScoutSuite/providers/azure/rules/rulesets/default.json
  ScoutSuite/providers/azure/services/sqldatabase.py
  ScoutSuite/providers/azure/services/storageaccounts.py
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
  requirements.txt
Labels: component-findings, component-provider-azure, enhancement

#153 feature/#26-new-finding-azure-sql-no-tde-nor-ad-admin-configured
  ScoutSuite/output/data/html/partials/azure/services.sqldatabase.servers.html
  ScoutSuite/providers/azure/rules/findings/sqldatabase-databases-no-transparent-data-encryption.json
  ScoutSuite/providers/azure/rules/findings/sqldatabase-servers-no-ad-admin-configured.json
  ScoutSuite/providers/azure/rules/rulesets/default.json
  ScoutSuite/providers/azure/services/sqldatabase.py
Labels: component-findings, component-provider-azure, enhancement

#156 Removed console logs and dead code
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: cleanup

#159 Fixed the missing highlighting
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.css
Labels: bug

#160 Feature/5 ebs findings prop
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.snapshots.html
  ScoutSuite/providers/aws/provider.py
Labels: component-provider-aws, enhancement

#151 Refactor/127 cli refactoring
  README.md
  Scout.py
  Scout2Listall.py
  ScoutRulesGenerator.py
  ScoutSuite/__listall__.py
  ScoutSuite/__main__.py
  ScoutSuite/cli_parser.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/azure/provider.py
  ScoutSuite/providers/gcp/provider.py
  tests/test-listall.py
  tests/test-main.py
  tests/test-rulesgenerator.py
  tests/test-scoutsuite.py
Labels: refactoring

#157 Bugfix/146 showall bug
  ScoutSuite/output/data/html/partials/aws/left_menu_for_region.html
  ScoutSuite/output/data/html/partials/aws/left_menu_for_vpc.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: bug, component-UI

#161 feature/#26-new-finding-azure-sql-no-replication-configured
  ScoutSuite/output/data/html/partials/azure/services.sqldatabase.servers.html
  ScoutSuite/providers/azure/services/sqldatabase.py
Labels: component-findings, component-provider-azure, enhancement

#169 Rtomlinson latacora feature/120 gcp svc act multi proj
  README.md
  ScoutSuite/__main__.py
  ScoutSuite/cli_parser.py
  ScoutSuite/providers/__init__.py
  ScoutSuite/providers/gcp/provider.py
Labels: component-provider-gcp, enhancement

#164 Feature/56 gcp cloud sql findings prop
  ScoutSuite/output/data/html/partials/gcp/services.cloudsql.instances.html
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-ssl-not-required.json
  ScoutSuite/providers/gcp/services/cloudsql.py
Labels: component-provider-gcp, enhancement

#173 feature/#27-new-finding-azure-keyvault-no-network-acl
  ScoutSuite/output/data/html/partials/azure/services.keyvault.vaults.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/services/keyvault.py
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
  requirements.txt
Labels: component-provider-azure, enhancement

#174 clean/use-modal-template-in-azure-partial-templates
  ScoutSuite/output/data/html/partials/azure/services.sqldatabase.servers.html
  ScoutSuite/output/data/html/partials/azure/services.storageaccounts.storage_accounts.html
Labels: component-UI

#172 feature/#25-new-finding-azure-appgateway-waf-disabled
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
  requirements.txt
Labels: component-provider-azure, enhancement

#175 feature/#29-new-finding-azure-cache-no-network-acl
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
  requirements.txt
Labels: component-provider-azure, enhancement

#170 Fetching termination-protection.
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/providers/aws/services/cloudformation.py
Labels: component-provider-aws, enhancement

#176 Bugfix/158 various ui ux enhancements part 2
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/output/data/html/partials/aws/services.iam.roles.html
  ScoutSuite/output/data/html/report.html
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite-dark.css
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite-light.css
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: bug, component-UI

#177 Enhancement normalize metadata
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/gcp/metadata.json
Labels: enhancement

#168 Feature/31 proprietary: Security Center Findings
  ScoutSuite/output/data/html/partials/azure/services.securitycenter.auto_provisioning_settings.html
  ScoutSuite/output/data/html/partials/azure/services.securitycenter.pricings.html
  ScoutSuite/output/data/html/partials/azure/services.securitycenter.security_contacts.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-auto-provisioning-off.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-security-contacts-email-not-set.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-security-contacts-no-admin-email-notifications.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-security-contacts-no-email-notifications.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-security-contacts-not-set.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-security-contacts-phone-not-set.json
  ScoutSuite/providers/azure/rules/findings/securitycenter-standard-tier-not-enabled.json
  ScoutSuite/providers/azure/rules/rulesets/default.json
  ScoutSuite/providers/azure/services/securitycenter.py
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
  requirements.txt
Labels: component-findings, component-provider-azure

#178 [Azure/Bugfix] Using a _ instead of . in modal templates
  ScoutSuite/output/data/html/partials/azure/services.securitycenter.auto_provisioning_settings.html
  ScoutSuite/output/data/html/partials/azure/services.securitycenter.pricings.html
  ScoutSuite/output/data/html/partials/azure/services.securitycenter.security_contacts.html
Labels: bug, component-provider-azure

#167 Bugfix/136 various ui bugs part 1
  ScoutSuite/output/data/html/partials/accordion.html
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/output/data/html/partials/aws/services.cloudtrail.regions.html
  ScoutSuite/output/data/html/partials/aws/services.cloudwatch.regions.id.alarms.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.vpcs.security_groups.resource_list.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.vpcs.security_groups.rule_list.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.linked_resources.html
  ScoutSuite/output/data/html/partials/aws/services.elbv2.regions.id.vpcs.id.lbs.html
  ScoutSuite/output/data/html/partials/aws/services.iam.groups.html
  ScoutSuite/output/data/html/partials/aws/services.iam.inline_policies.html
  ScoutSuite/output/data/html/partials/aws/services.iam.managed_policies_list.html
  ScoutSuite/output/data/html/partials/aws/services.iam.roles.html
  ScoutSuite/output/data/html/partials/aws/services.s3.bucket_iam_policies.html
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.html
  ScoutSuite/output/data/html/partials/count_badge.html
  ScoutSuite/output/data/html/partials/metadata.html
  ScoutSuite/output/data/html/report.html
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite.css
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/output/data/inc-scoutsuite/theme.js
Labels: bug, component-UI, enhancement

#179 Bugfix/last snapshot date bug
  ScoutSuite/providers/aws/provider.py
Labels: bug

#180 Feature/4 sqs queues without server side encryption prop
  ScoutSuite/output/data/html/partials/aws/services.sqs.regions.id.queues.html
  ScoutSuite/providers/aws/services/sqs.py
Labels: component-provider-aws, enhancement

#185 enhancement/release threads
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/base/configs/base.py
Labels: enhancement

#184 Feature/10 dynamo db findings
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/services/iam.py
Labels: component-provider-aws, enhancement

#190 Refactoring/181 Pull Opinel in Scout
  ScoutSuite/__main__.py
  opinel/__init__.py
  opinel/data/icmp_message_types.json
  opinel/data/ip-ranges/aws-in-ec2.json
  opinel/data/ip-ranges/aws-in-us.json
  opinel/data/ip-ranges/aws.json
  opinel/data/protocols.json
  opinel/data/requirements.txt
  opinel/services/__init__.py
  opinel/services/cloudformation.py
  opinel/services/cloudtrail.py
  opinel/services/iam.py
  opinel/services/organizations.py
  opinel/services/s3.py
  opinel/utils/__init__.py
  opinel/utils/aws.py
  opinel/utils/cli_parser.py
  opinel/utils/conditions.py
  opinel/utils/console.py
  opinel/utils/credentials.py
  opinel/utils/fs.py
  opinel/utils/globals.py
  opinel/utils/profiles.py
  opinel/utils/threads.py
  requirements.txt
  tests/test-listall.py
  tests/test-rulesgenerator.py
Labels: cleanup, component-core, refactoring

#188 Feature/32 proprietary azure network findings
  ScoutSuite/output/data/html/partials/azure/services.network.network_security_groups.html
  ScoutSuite/output/data/html/partials/azure/services.network.network_watchers.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/rules/conditions/allow-tcp.json
  ScoutSuite/providers/azure/rules/conditions/exposed-to-the-internet.json
  ScoutSuite/providers/azure/rules/findings/network-security-groups-rule-inbound-service.json
  ScoutSuite/providers/azure/rules/findings/network-watcher-not-enabled.json
  ScoutSuite/providers/azure/rules/findings/network-watcher-not-provisioned.json
  ScoutSuite/providers/azure/rules/rulesets/default.json
  ScoutSuite/providers/azure/services/network.py
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
Labels: component-findings, component-provider-azure

#191 Feature/9 ec2 findings
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.instances.html
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/services/ec2.py
Labels: component-provider-aws, enhancement

#186 feature/#34-new-findings-azure-app-service
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
  requirements.txt
Labels: component-provider-azure, enhancement

#187 feature/#24-new-finding-azure-load-balancer
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/metadata.json
  ScoutSuite/providers/azure/utils.py
  ScoutSuite/utils.py
Labels: component-provider-azure, enhancement

#192 Feature/85 ec2 user data finding
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite.css
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/providers/aws/services/ec2.py
Labels: component-provider-aws, enhancement

#198 Moving KMS stuff to private repo
  ScoutSuite/output/data/html/partials/aws/services.kms.regions.id.keys.html
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/services/kms.py
Labels: component-provider-aws

#195 Release fixes
  MANIFEST.in
  Scout.py
  ScoutSuite/__init__.py
  ScoutSuite/__main__.py
  setup.py
Labels: release

#196 Feature/11 aws config not enabled
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/base/configs/base.py
  ScoutSuite/utils.py
Labels: component-provider-aws, enhancement

#200 Removed dead code and merged try-catch of private imports
  ScoutSuite/providers/aws/configs/services.py
Labels: cleanup, component-provider-aws

#205 Feature/57 gcp cloud storage findings prop
  ScoutSuite/providers/gcp/rules/findings/cloudstorage-bucket-member.json
  ScoutSuite/providers/gcp/rules/findings/cloudstorage-bucket-no-logging.json
Labels: component-provider-gcp, enhancement

#206 Feature/91 cloudformation findings
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/providers/aws/rules/findings/cloudformation-stack-with-role.json
  ScoutSuite/providers/aws/services/cloudformation.py
Labels: component-provider-aws, enhancement

#208 Bugfix/129 menu highlight
  ScoutSuite/output/data/html/partials/metadata.html
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite-dark.css
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite-light.css
  ScoutSuite/output/data/inc-scoutsuite/css/scoutsuite.css
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: bug

#209 Bugfix/207 exceptions
  ScoutSuite/__main__.py
  ScoutSuite/providers/aws/provider.py
Labels: bug, component-core

#211 Removing remnants of opinel
  ScoutSuite/providers/aws/credentials.py
Labels: cleanup

#212 Cleanup/warnings core
  ScoutSuite/core/__init__.py
  ScoutSuite/core/cli_parser.py
  ScoutSuite/core/conditions.py
  ScoutSuite/core/console.py
  ScoutSuite/core/processingengine.py
  ScoutSuite/core/rule.py
  ScoutSuite/core/rule_definition.py
  ScoutSuite/core/ruleset.py
Labels: cleanup

#210 bugfix/Single profile instead of array
  ScoutSuite/__main__.py
  ScoutSuite/core/cli_parser.py
Labels: hotfix
