Repository nccgroup/ScoutSuite, pull requests merged in 2019-01, with the labels that each got.

#111 Bool to enabled helper
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.html
  ScoutSuite/output/data/html/partials/gcp/services.cloudsql.instances.html
  ScoutSuite/output/data/html/partials/gcp/services.cloudstorage.buckets.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.instances.html
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/providers/aws/rules/findings/s3-bucket-allowing-cleartext.json
  ScoutSuite/providers/aws/rules/findings/s3-bucket-no-default-encryption.json
  ScoutSuite/providers/aws/rules/findings/s3-bucket-no-mfa-delete.json
  ScoutSuite/providers/aws/rules/findings/s3-bucket-no-versioning.json
  ScoutSuite/providers/aws/rules/findings/s3-bucket-website-enabled.json
  ScoutSuite/providers/aws/services/s3.py
  ScoutSuite/providers/azure/rules/findings/storageaccount-account-allowing-clear-text.json
  ScoutSuite/providers/azure/services/storageaccounts.py
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-backups-disabled.json
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-no-logging.json
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-ssl-not-required.json
  ScoutSuite/providers/gcp/rules/findings/cloudstorage-bucket-no-logging.json
  ScoutSuite/providers/gcp/rules/findings/cloudstorage-bucket-no-versioning.json
  ScoutSuite/providers/gcp/rules/findings/computeengine-instance-with-deletion-protection-disabled.json
  ScoutSuite/providers/gcp/services/cloudsql.py
  ScoutSuite/providers/gcp/services/cloudstorage.py
  ScoutSuite/providers/gcp/services/computeengine.py
Labels: component-UI, component-core, component-findings, component-provider-aws, refactoring

#116 Feature/12-proprietary
  ScoutSuite/output/console.py
  ScoutSuite/output/data/html/partials/aws/services.iam.credential_reports.html
  ScoutSuite/output/data/html/summaries/aws/services.iam.credential_report.root_account.html
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/rules/findings/iam-root-account-no-mfa.json
  ScoutSuite/providers/aws/rules/findings/iam-root-account-used-recently.json
  ScoutSuite/providers/aws/rules/findings/iam-root-account-with-active-certs.json
  ScoutSuite/providers/aws/rules/findings/iam-root-account-with-active-keys.json
  ScoutSuite/providers/aws/services/iam.py
  tests/data/rule-configs/iam-root.json
Labels: component-provider-aws

#115 Feature/59 bootstrap jquery upgrades
  ScoutSuite/output/data/html/partials/accordion.html
  ScoutSuite/output/data/html/partials/accordion_policy.html
  ScoutSuite/output/data/html/partials/aws/left_menu_for_region.html
  ScoutSuite/output/data/html/partials/aws/left_menu_for_vpc.html
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/output/data/html/partials/aws/services.cloudtrail.regions.html
  ScoutSuite/output/data/html/partials/aws/services.cloudwatch.regions.id.alarms.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.security_groups.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.vpcs.security_groups.resource_list.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.vpcs.security_groups.rule_list.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.linked_resources.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.listener.html
  ScoutSuite/output/data/html/partials/aws/services.elbv2.regions.id.vpcs.id.lbs.html
  ScoutSuite/output/data/html/partials/aws/services.iam.groups.html
  ScoutSuite/output/data/html/partials/aws/services.iam.inline_policies.html
  ScoutSuite/output/data/html/partials/aws/services.iam.managed_policies_list.html
  ScoutSuite/output/data/html/partials/aws/services.iam.roles.html
  ScoutSuite/output/data/html/partials/aws/services.iam.users.html
  ScoutSuite/output/data/html/partials/aws/services.rds.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.route53.domains.html
  ScoutSuite/output/data/html/partials/aws/services.route53.hosted_zones.html
  ScoutSuite/output/data/html/partials/aws/services.s3.bucket_iam_policies.html
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.html
  ScoutSuite/output/data/html/partials/aws/services.sns.regions.id.topics.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.network_acls.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.subnets.html
  ScoutSuite/output/data/html/partials/dashboard.html
  ScoutSuite/output/data/html/partials/filters.html
  ScoutSuite/output/data/html/partials/left_menu.html
  ScoutSuite/output/data/html/partials/metadata.html
  ScoutSuite/output/data/html/partials/network_interface.html
  ScoutSuite/output/data/html/partials/regionfilters.html
  ScoutSuite/output/data/html/report.html
  ScoutSuite/output/data/html/ruleset-generator.html
  ScoutSuite/output/data/html/summaries/attack_surface.html
  ScoutSuite/output/data/html/summaries/aws/services.ec2.external_attack_surface.html
  ScoutSuite/output/data/html/summaries/aws/services.elb.external_attack_surface.html
  ScoutSuite/output/data/html/summaries/aws/services.elbv2.external_attack_surface.html
  ScoutSuite/output/data/html/summaries/aws/services.rds.external_attack_surface.html
  ScoutSuite/output/data/html/summaries/service_groups.database.summaries.external_attack_surface.html
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.css
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
  ScoutSuite/output/data/includes.zip
Labels: component-UI

#123 Bugfix/17 cloudtrail regions missing
  ScoutSuite/providers/aws/configs/regions.py
  ScoutSuite/providers/base/provider.py
Labels: bug, component-core

#124 Bugfix/98 service filtering cloudtrail
  ScoutSuite/core/processingengine.py
  ScoutSuite/providers/aws/configs/base.py
  ScoutSuite/providers/aws/configs/services.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/azure/configs/base.py
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/gcp/configs/base.py
  ScoutSuite/providers/gcp/configs/services.py
  tests/test-rules-processingengine.py
Labels: bug, component-core, enhancement

#112 Feature/81 Properly implement Azure authentication
  README.md
  ScoutSuite/__main__.py
  ScoutSuite/cli_parser.py
  ScoutSuite/providers/azure/provider.py
  requirements.txt
Labels: component-provider-azure

#128 feature/#30-proprietary
  ScoutSuite/output/data/html/partials/azure/services.storageaccounts.storage_accounts.html
  ScoutSuite/providers/azure/configs/services.py
  ScoutSuite/providers/azure/services/storageaccounts.py
Labels: component-provider-azure

#132 Feature/61 ui improvements
  ScoutSuite/output/data/html/partials/about_scoutsuite.html
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/output/data/html/partials/aws/services.cloudtrail.regions.id.trails.html
  ScoutSuite/output/data/html/partials/aws/services.cloudwatch.regions.id.alarms.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.snapshots.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.volumes.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.images.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.security_groups.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.elb_policies.html
  ScoutSuite/output/data/html/partials/aws/services.emr.regions.id.vpcs.id.clusters.html
  ScoutSuite/output/data/html/partials/aws/services.iam.credential_reports.html
  ScoutSuite/output/data/html/partials/aws/services.iam.groups.html
  ScoutSuite/output/data/html/partials/aws/services.iam.managed_policies.html
  ScoutSuite/output/data/html/partials/aws/services.iam.roles.html
  ScoutSuite/output/data/html/partials/aws/services.iam.users.html
  ScoutSuite/output/data/html/partials/aws/services.rds.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.route53.domains.html
  ScoutSuite/output/data/html/partials/aws/services.route53.hosted_zones.html
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.html
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.objects.html
  ScoutSuite/output/data/html/partials/aws/services.ses.regions.id.identities.html
  ScoutSuite/output/data/html/partials/aws/services.sns.regions.id.topics.html
  ScoutSuite/output/data/html/partials/aws/services.sqs.regions.id.queues.html
  ScoutSuite/output/data/html/partials/aws/services.stackdriverlogging.sinks.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.peering_connections.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.flow_logs.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.network_acls.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.subnets.html
  ScoutSuite/output/data/html/partials/dashboard.html
  ScoutSuite/output/data/html/partials/gcp/services.cloudresourcemanager.bindings.html
  ScoutSuite/output/data/html/partials/gcp/services.cloudsql.instances.html
  ScoutSuite/output/data/html/partials/gcp/services.cloudstorage.buckets.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.firewalls.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.instances.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.networks.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.snapshots.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.subnetworks.html
  ScoutSuite/output/data/html/partials/gcp/services.iam.service_accounts.html
  ScoutSuite/output/data/html/partials/gcp/services.stackdriverlogging.sinks.html
  ScoutSuite/output/data/html/partials/last_run_details.html
  ScoutSuite/output/data/html/partials/metadata.html
  ScoutSuite/output/data/html/partials/modal.html
  ScoutSuite/output/data/html/partials/network_interface.html
  ScoutSuite/output/data/html/partials/singles.html
  ScoutSuite/output/data/html/report.html
  ScoutSuite/output/data/html/ruleset-generator.html
  ScoutSuite/output/data/inc-scoutsuite/modal.css
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.css
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: component-UI
