Repository nccgroup/ScoutSuite, pull requests merged in 2019-04, with the labels that each got.

#296 Fix AWS IAM credential report generation
  ScoutSuite/providers/aws/facade/iam.py
Labels: bugfix, component-provider-aws, providers-refactoring

#232 Refactoring/gcp/cloudsql
  ScoutSuite/output/data/html/partials/gcp/services.cloudsql.instances.html
  ScoutSuite/output/data/html/partials/gcp/services.cloudsql.projects.id.instances.html
  ScoutSuite/providers/gcp/configs/services.py
  ScoutSuite/providers/gcp/facade/cloudsql.py
  ScoutSuite/providers/gcp/facade/gcp.py
  ScoutSuite/providers/gcp/metadata.json
  ScoutSuite/providers/gcp/resources/cloudsql/__init__.py
  ScoutSuite/providers/gcp/resources/cloudsql/backups.py
  ScoutSuite/providers/gcp/resources/cloudsql/database_instances.py
  ScoutSuite/providers/gcp/resources/cloudsql/service.py
  ScoutSuite/providers/gcp/resources/cloudsql/users.py
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-backups-disabled.json
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-no-logging.json
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-ssl-not-required.json
  ScoutSuite/providers/gcp/rules/findings/cloudsql-instance-with-no-backups.json
  ScoutSuite/providers/gcp/services/cloudsql.py
Labels: component-provider-gcp, providers-refactoring, refactoring

#231 Refactoring/gcp/cloudresourcemanager
  ScoutSuite/output/data/html/partials/gcp/services.cloudresourcemanager.projects.id.bindings.html
  ScoutSuite/providers/gcp/configs/services.py
  ScoutSuite/providers/gcp/facade/cloudresourcemanager.py
  ScoutSuite/providers/gcp/facade/gcp.py
  ScoutSuite/providers/gcp/metadata.json
  ScoutSuite/providers/gcp/resources/cloudresourcemanager/__init__.py
  ScoutSuite/providers/gcp/resources/cloudresourcemanager/bindings.py
  ScoutSuite/providers/gcp/resources/cloudresourcemanager/service.py
  ScoutSuite/providers/gcp/rules/findings/cloudresourcemanager-primitive-role-in-use.json
  ScoutSuite/providers/gcp/rules/findings/cloudresourcemanager-role-assigned-to-user.json
  ScoutSuite/providers/gcp/services/cloudresourcemanager.py
Labels: component-provider-gcp, providers-refactoring, refactoring

#303 Feature/94 ebs findings
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.snapshots.html
  ScoutSuite/providers/aws/facade/ec2.py
Labels: component-provider-aws

#309 Bugfix/14 rds backup disabled fp
  ScoutSuite/output/data/html/partials/aws/services.rds.regions.id.vpcs.id.instances.html
  ScoutSuite/providers/aws/resources/rds/instances.py
  ScoutSuite/providers/aws/rules/findings/rds-instance-backup-disabled.json
Labels: bug, component-provider-aws

#311 Azure cleanup
  ScoutSuite/providers/azure/facade/storageaccounts.py
  ScoutSuite/providers/azure/resources/base.py
  ScoutSuite/providers/azure/resources/keyvault/base.py
  ScoutSuite/providers/azure/resources/network/base.py
  ScoutSuite/providers/azure/resources/network/network_security_groups.py
  ScoutSuite/providers/azure/resources/network/network_watchers.py
  ScoutSuite/providers/azure/resources/securitycenter/auto_provisioning_settings.py
  ScoutSuite/providers/azure/resources/securitycenter/base.py
  ScoutSuite/providers/azure/resources/securitycenter/pricings.py
  ScoutSuite/providers/azure/resources/securitycenter/security_contacts.py
  ScoutSuite/providers/azure/resources/sqldatabase/base.py
  ScoutSuite/providers/azure/resources/sqldatabase/database_blob_auditing_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/database_threat_detection_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/databases.py
  ScoutSuite/providers/azure/resources/sqldatabase/replication_links.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_azure_ad_administrators.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_blob_auditing_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/server_security_alert_policies.py
  ScoutSuite/providers/azure/resources/sqldatabase/transparent_data_encryptions.py
  ScoutSuite/providers/azure/resources/storageaccounts/base.py
  ScoutSuite/providers/azure/resources/storageaccounts/blob_containers.py
Labels: cleanup, component-provider-azure, providers-refactoring

#327 Fix minor bugs introduced in https://github.com/nccgroup/ScoutSuite/pull/316
  ScoutSuite/core/cli_parser.py
  ScoutSuite/output/result_encoder.py
Labels: bugfix

#321 Bugfix/password policy error handling
  ScoutSuite/providers/aws/facade/iam.py
  ScoutSuite/providers/aws/resources/iam/passwordpolicy.py
Labels: bug, component-provider-aws

#330 Removed duplicate requirement
  requirements.txt
Labels: cleanup

#331 Fixed browser freezing problem
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: bug

#334 Fixed username with dots bug
  ScoutSuite/output/data/html/partials/aws/services.iam.credential_reports.html
  ScoutSuite/providers/aws/resources/iam/credentialreports.py
Labels: bug

#342 Added docstrings
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/azure/provider.py
  ScoutSuite/providers/base/authentication_strategy.py
  ScoutSuite/providers/base/authentication_strategy_factory.py
  ScoutSuite/providers/base/provider.py
  ScoutSuite/providers/gcp/provider.py
Labels: cleanup

#349 Added error handling to GCP facades
  ScoutSuite/providers/gcp/facade/cloudresourcemanager.py
  ScoutSuite/providers/gcp/facade/cloudsql.py
  ScoutSuite/providers/gcp/facade/cloudstorage.py
  ScoutSuite/providers/gcp/facade/gce.py
  ScoutSuite/providers/gcp/facade/gcp.py
  ScoutSuite/providers/gcp/facade/iam.py
  ScoutSuite/providers/gcp/facade/stackdriverlogging.py
Labels: component-provider-gcp, enhancement

#350 GCP-related cleanup
  ScoutSuite/output/data/html/partials/gcp/left_menu_for_gcp_region.html
  ScoutSuite/output/data/html/partials/gcp/left_menu_for_gcp_zone.html
  ScoutSuite/providers/gcp/configs/base.py
  ScoutSuite/providers/gcp/configs/services.py
  ScoutSuite/providers/gcp/facade/base.py
  ScoutSuite/providers/gcp/facade/gce.py
  ScoutSuite/providers/gcp/facade/gcp.py
  ScoutSuite/providers/gcp/facade/utils.py
  ScoutSuite/providers/gcp/provider.py
  ScoutSuite/providers/gcp/resources/cloudresourcemanager/base.py
  ScoutSuite/providers/gcp/resources/cloudsql/base.py
  ScoutSuite/providers/gcp/resources/cloudstorage/base.py
  ScoutSuite/providers/gcp/resources/cloudstorage/buckets.py
  ScoutSuite/providers/gcp/resources/gce/base.py
  ScoutSuite/providers/gcp/resources/gce/firewalls.py
  ScoutSuite/providers/gcp/resources/gce/instances.py
  ScoutSuite/providers/gcp/resources/gce/networks.py
  ScoutSuite/providers/gcp/resources/gce/regions.py
  ScoutSuite/providers/gcp/resources/gce/snapshots.py
  ScoutSuite/providers/gcp/resources/gce/subnetworks.py
  ScoutSuite/providers/gcp/resources/gce/zones.py
  ScoutSuite/providers/gcp/resources/iam/base.py
  ScoutSuite/providers/gcp/resources/regions.py
  ScoutSuite/providers/gcp/resources/stackdriverlogging/base.py
  ScoutSuite/providers/gcp/resources/zones.py
  ScoutSuite/providers/gcp/services/__init__.py
  ScoutSuite/providers/gcp/services/computeengine.py
  ScoutSuite/providers/gcp/services/stackdrivermonitoring.py
  ScoutSuite/providers/gcp/utils.py
Labels: cleanup, component-provider-gcp

#352 Added missing keys in GCE HTML ids
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.projects.id.regions.id.subnetworks.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.projects.id.zones.id.instances.html
Labels: bugfix, component-provider-gcp

#351 Migrated GKE to new architecture
  ScoutSuite/providers/gcp/metadata.json
Labels: component-provider-gcp, refactoring

#344 Bugfix/peering connections revival
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.peering_connections.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.id.peering_connections.html
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/vpc/base.py
  ScoutSuite/providers/aws/resources/vpc/peering_connections.py
  ScoutSuite/providers/aws/resources/vpc/vpcs.py
Labels: bug

#357 Fixed GCE InstanceDisks initialisation
  ScoutSuite/providers/gcp/resources/gce/instance_disks.py
  ScoutSuite/providers/gcp/resources/gce/instances.py
Labels: bugfix, component-provider-gcp

#362 Tested refactoring, file path handling modifications & minor bug fixes
  README.md
  ScoutSuite/__init__.py
  ScoutSuite/__main__.py
  ScoutSuite/core/cli_parser.py
  ScoutSuite/core/exceptions.py
  ScoutSuite/core/fs.py
  ScoutSuite/core/processingengine.py
  ScoutSuite/core/rule.py
  ScoutSuite/core/rule_definition.py
  ScoutSuite/core/utils.py
  ScoutSuite/output/data/html/conditionals/json_format.html
  ScoutSuite/output/data/html/conditionals/sqlite_format.html
  ScoutSuite/output/data/html/report.html
  ScoutSuite/output/html.py
  ScoutSuite/output/js.py
  ScoutSuite/output/report_file.py
  ScoutSuite/output/result_encoder.py
  ScoutSuite/output/utils.py
  ScoutSuite/providers/aws/facade/cloudformation.py
  ScoutSuite/providers/aws/facade/s3.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/directconnect/base.py
  ScoutSuite/providers/aws/resources/vpc/peering_connections.py
  ScoutSuite/providers/azure/provider.py
  ScoutSuite/providers/base/configs/browser.py
  ScoutSuite/providers/gcp/provider.py
  ScoutSuite/providers/gcp/resources/cloudstorage/buckets.py
  ScoutSuite/utils.py
Labels: bugfix, cleanup

#370 Bugfix/AWS IAM policies
  ScoutSuite/output/data/inc-scoutsuite/helpers.js
  ScoutSuite/providers/aws/rules/findings/iam-assume-role-lacks-external-id-and-mfa.json
  ScoutSuite/providers/base/configs/browser.py
Labels: bug, component-provider-aws
