Repository nccgroup/ScoutSuite, pull requests merged in 2020-09, with the labels that each got.

#775 Feature/dockerized
  .github/workflows/testing.yml
  Dockerfile
  README.md
  docker/.dockerignore
  docker/.env
  docker/README.md
  docker/config/build.env
  docker/docker-compose.yaml
  docker/src/Dockerfile
  docker/src/build.sh
Labels: enhancement

#847 Improve IAM integration with EC2 and Lambda
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.iam.roles.html
  ScoutSuite/providers/aws/facade/awslambda.py
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/resources/ec2/instances.py
Labels: component-provider-aws, enhancement

#848 Improve implementation of Azure NSG port ranges
  ScoutSuite/core/conditions.py
  ScoutSuite/providers/azure/resources/network/security_groups.py
  ScoutSuite/providers/azure/rules/findings/network-security-groups-rule-inbound-service.json
Labels: bug, component-provider-azure

#865 Add support for GKE
  ScoutSuite/output/data/html/partials/gcp/services.kubernetesengine.clusters.html
  ScoutSuite/providers/gcp/facade/base.py
  ScoutSuite/providers/gcp/facade/gke.py
  ScoutSuite/providers/gcp/resources/gke/__init__.py
  ScoutSuite/providers/gcp/resources/gke/base.py
  ScoutSuite/providers/gcp/resources/gke/clusters.py
  ScoutSuite/providers/gcp/resources/gke/node_pools.py
  ScoutSuite/providers/gcp/resources/gke/zones.py
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-basic-authentication-enabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-certificate-authentication-enabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-alias-ip-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-has-no-labels.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-logging-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-master-authorized-networks-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-monitoring-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-network-policy-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-pod-security-policy-config-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-cluster-private-google-access-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-dashboard-enabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-default-service-account-used.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-legacy-abac-enabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-legacy-metadata-endpoints-enabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-node-auto-repair-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-node-auto-upgrade-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-node-container-optimized-os-not-used.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-private-cluster-disabled.json
  ScoutSuite/providers/gcp/rules/findings/kubernetesengine-scopes-not-limited.json
  ScoutSuite/providers/gcp/rules/rulesets/cis-1.0.0.json
  ScoutSuite/providers/gcp/rules/rulesets/default.json
  ScoutSuite/providers/gcp/services.py
  requirements.txt
Labels: component-provider-gcp, enhancement

#872 Enhancement/GCP GCE Support
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.projects.id.firewalls.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.projects.id.networks.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.projects.id.regions.id.subnetworks.html
  ScoutSuite/output/data/html/partials/gcp/services.computeengine.projects.id.zones.id.instances.html
  ScoutSuite/providers/gcp/provider.py
  ScoutSuite/providers/gcp/resources/gce/networks.py
  ScoutSuite/providers/gcp/resources/gce/subnetworks.py
  ScoutSuite/providers/gcp/rules/findings/computeengine-firewall-default-rule-in-use.json
Labels: bugfix, component-provider-gcp, enhancement

#875 Bugfix/Handle GCP API Quotas
  ScoutSuite/providers/gcp/facade/utils.py
  ScoutSuite/providers/gcp/utils.py
  ScoutSuite/providers/utils.py
Labels: bugfix, component-provider-gcp

#874 Enhancement/Add ScoutSuite user agent
  ScoutSuite/providers/aws/authentication_strategy.py
  ScoutSuite/providers/azure/facade/aad.py
  ScoutSuite/providers/azure/facade/appservice.py
  ScoutSuite/providers/azure/facade/base.py
  ScoutSuite/providers/azure/facade/keyvault.py
  ScoutSuite/providers/azure/facade/network.py
  ScoutSuite/providers/azure/facade/rbac.py
  ScoutSuite/providers/azure/facade/securitycenter.py
  ScoutSuite/providers/azure/facade/sqldatabase.py
  ScoutSuite/providers/azure/facade/storageaccounts.py
  ScoutSuite/providers/azure/facade/virtualmachines.py
  ScoutSuite/providers/base/provider.py
  ScoutSuite/providers/gcp/facade/basefacade.py
  ScoutSuite/providers/gcp/facade/cloudstorage.py
  ScoutSuite/providers/gcp/facade/kms.py
  ScoutSuite/providers/gcp/facade/stackdriverlogging.py
  ScoutSuite/providers/gcp/facade/stackdrivermonitoring.py
  ScoutSuite/providers/gcp/facade/utils.py
  ScoutSuite/utils.py
  tests/test_aws_provider.py
Labels: component-provider-aws, component-provider-azure, component-provider-gcp, enhancement

#860 Added export CSV button
  ScoutSuite/output/data/html/partials/resources_details.html
  ScoutSuite/output/data/inc-scoutsuite/scoutsuite.js
Labels: component-UI, enhancement
