Repository nccgroup/ScoutSuite, pull requests merged in 2020-07, with the labels that each got.

#733 Feature/AWS Standard ARN Keys
  ScoutSuite/output/data/html/partials/aws/services.awslambda.regions.id.functions.html
  ScoutSuite/output/data/html/partials/aws/services.cloudformation.regions.id.stacks.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.snapshots.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.images.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.vpcs.id.security_groups.html
  ScoutSuite/output/data/html/partials/aws/services.elb.regions.id.vpcs.id.elbs.html
  ScoutSuite/output/data/html/partials/aws/services.elbv2.regions.id.vpcs.id.elbs.html
  ScoutSuite/output/data/html/partials/aws/services.rds.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/aws/services.redshift.regions.id.parameter_groups.html
  ScoutSuite/output/data/html/partials/aws/services.redshift.regions.id.vpcs.id.clusters.html
  ScoutSuite/output/data/html/partials/aws/services.route53.regions.id.domains.html
  ScoutSuite/output/data/html/partials/aws/services.s3.buckets.html
  ScoutSuite/output/data/html/partials/aws/services.ses.regions.id.identities.html
  ScoutSuite/output/data/html/partials/aws/services.vpc.regions.id.vpcs.html
  ScoutSuite/providers/aws/facade/ec2.py
  ScoutSuite/providers/aws/metadata.json
  ScoutSuite/providers/aws/resources/cloudformation/stacks.py
  ScoutSuite/providers/aws/resources/ec2/ami.py
  ScoutSuite/providers/aws/resources/ec2/instances.py
  ScoutSuite/providers/aws/resources/ec2/networkinterfaces.py
  ScoutSuite/providers/aws/resources/ec2/securitygroups.py
  ScoutSuite/providers/aws/resources/ec2/snapshots.py
  ScoutSuite/providers/aws/resources/ec2/volumes.py
  ScoutSuite/providers/aws/resources/elasticache/cluster.py
  ScoutSuite/providers/aws/resources/elb/load_balancers.py
  ScoutSuite/providers/aws/resources/rds/instances.py
  ScoutSuite/providers/aws/resources/redshift/cluster_parameter_groups.py
  ScoutSuite/providers/aws/resources/redshift/clusters.py
  ScoutSuite/providers/aws/resources/route53/domains.py
  ScoutSuite/providers/aws/resources/s3/buckets.py
  ScoutSuite/providers/aws/resources/ses/identities.py
  ScoutSuite/providers/aws/resources/vpcs.py
Labels: component-provider-aws, enhancement

#774 EC2: add instance-profile-arn listing to EC2 Instances
  ScoutSuite/providers/aws/resources/ec2/instances.py
Labels: component-provider-aws, enhancement

#789 Azure Support Tags and Resource Groups
  ScoutSuite/output/data/html/partials/aws/services.rds.regions.id.vpcs.id.instances.html
  ScoutSuite/output/data/html/partials/azure/services.aad.service_principals.html
  ScoutSuite/output/data/html/partials/azure/services.appservice.subscriptions.id.web_apps.html
  ScoutSuite/output/data/html/partials/azure/services.keyvault.subscriptions.id.vaults.html
  ScoutSuite/output/data/html/partials/azure/services.network.subscriptions.id.application_security_groups.html
  ScoutSuite/output/data/html/partials/azure/services.network.subscriptions.id.network_interfaces.html
  ScoutSuite/output/data/html/partials/azure/services.network.subscriptions.id.security_groups.html
  ScoutSuite/output/data/html/partials/azure/services.network.subscriptions.id.virtual_networks.html
  ScoutSuite/output/data/html/partials/azure/services.network.subscriptions.id.watchers.html
  ScoutSuite/output/data/html/partials/azure/services.sqldatabase.subscriptions.id.servers.html
  ScoutSuite/output/data/html/partials/azure/services.storageaccounts.subscriptions.id.storage_accounts.html
  ScoutSuite/output/data/html/partials/azure/services.virtualmachines.subscriptions.id.instances.html
  ScoutSuite/providers/azure/resources/appservice/web_apps.py
  ScoutSuite/providers/azure/resources/keyvault/vaults.py
  ScoutSuite/providers/azure/resources/network/application_security_groups.py
  ScoutSuite/providers/azure/resources/network/network_interfaces.py
  ScoutSuite/providers/azure/resources/network/security_groups.py
  ScoutSuite/providers/azure/resources/network/virtual_networks.py
  ScoutSuite/providers/azure/resources/network/watchers.py
  ScoutSuite/providers/azure/resources/sqldatabase/databases.py
  ScoutSuite/providers/azure/resources/sqldatabase/servers.py
  ScoutSuite/providers/azure/resources/storageaccounts/storage_accounts.py
  ScoutSuite/providers/azure/resources/virtualmachines/instances.py
Labels: component-provider-azure, enhancement

#804 release/5.10 WIP
  .github/workflows/testing.yml
  .travis.yml
  dev-requirements.txt
  pytest.ini
  tests/test-utils_cloudwatch.py
  tests/test-utils_sns.py
  tests/test_core.py
  tests/test_main.py
  tests/test_output.py
  tests/test_resources.py
  tests/test_rules_processingengine.py
  tests/test_rules_ruleset.py
  tests/test_scoutsuite.py
  tests/test_utils.py
  tests/test_utils_conditions.py
Labels: release

#771 AWS Lambda enhancements
  ScoutSuite/output/data/html/partials/aws/services.awslambda.regions.id.functions.html
  ScoutSuite/providers/aws/facade/awslambda.py
  ScoutSuite/providers/aws/resources/awslambda/functions.py
Labels: component-provider-aws, enhancement

#810 Bugfix/Fix Filters and Callbacks
  ScoutSuite/providers/aws/provider.py
  ScoutSuite/providers/aws/rules/conditions/instance-with-open-nacls.json
Labels: bugfix, component-provider-aws

#811 Report improvements (attack surface and ENI information)
  ScoutSuite/output/data/html/partials/aws/services.ec2.regions.id.snapshots.html
  ScoutSuite/output/data/html/partials/network_interface.html
  ScoutSuite/output/data/html/summaries/attack_surface.html
  ScoutSuite/providers/aws/provider.py
Labels: component-provider-aws, enhancement

#759 Add support for DynamoDB
  ScoutSuite/output/data/html/partials/aws/services.dynamodb.regions.id.tables.html
  ScoutSuite/providers/aws/facade/base.py
  ScoutSuite/providers/aws/facade/dynamodb.py
  ScoutSuite/providers/aws/resources/dynamodb/__init__.py
  ScoutSuite/providers/aws/resources/dynamodb/base.py
  ScoutSuite/providers/aws/resources/dynamodb/tables.py
  ScoutSuite/providers/aws/services.py
  ScoutSuite/providers/aws/utils.py
  tests/test_utils.py
Labels: component-provider-aws, enhancement

#824 Bugfix/Improve Error & Exception Handling
  .github/workflows/testing.yml
  .travis.yml
  ScoutSuite/__init__.py
  ScoutSuite/__main__.py
  ScoutSuite/providers/azure/facade/aad.py
  ScoutSuite/providers/azure/provider.py
  ScoutSuite/providers/azure/resources/aad/base.py
  ScoutSuite/providers/azure/resources/aad/users.py
  dev-requirements.txt
  pytest.ini
Labels: bugfix, component-provider-azure, release
